<div nz-row>
    <div nz-col
         [nzSpan]="8">
        <nz-card [nzExtra]="userAvatar"
                 [nzTitle]="user && user.userName"
                 *ngIf="user && user.blog">
            <p>
                <span class="icon-font">
                    &#xe600;
                    <strong>注册日: </strong>
                </span>
                <span> {{ user && user.registerDate && user.registerDate | date:'yyyy MM-dd' }} </span>
            </p>
            <p> <span class="icon-font">&#xe600; <strong> 开博日:</strong></span>
                <strong>{{user.blog.openDate|date:'yyyy MM-dd'}}</strong> </p>
            <p> <span class="icon-font">&#xe603; <strong>邮箱: </strong> </span>
                <span> <strong> {{ user.email || '还没有填写邮箱信息' }} </strong> </span>
            </p>
            <p>
                <span>
                    <i nz-icon *ngIf="user.sex === 2"><svg t="1593575180135"
                             class="icon"
                             viewBox="0 0 1024 1024"
                             version="1.1"
                             xmlns="http://www.w3.org/2000/svg"
                             p-id="5587"
                             width="16"
                             height="16">
                            <path d="M460.8 617.870222c-145.294222-24.689778-256-152.632889-256-306.773333C204.8 139.292444 342.328889 0 512 0c169.671111 0 307.2 139.292444 307.2 311.096889 0 154.140444-110.705778 282.083556-256 306.773333v146.887111H768v103.708445h-204.8V1024h-102.4v-155.534222H256v-103.708445h204.8v-146.887111z m51.2-99.384889c113.095111 0 204.8-92.871111 204.8-207.388444 0-114.545778-91.704889-207.388444-204.8-207.388445s-204.8 92.842667-204.8 207.36c0 114.545778 91.704889 207.416889 204.8 207.416889z"
                                  fill="#FF8CE4"
                                  p-id="5588"></path>
                        </svg> </i>
                    <i nz-icon *ngIf="user.sex === 1">
                        <svg t="1593575221608"
                             class="icon"
                             viewBox="0 0 1024 1024"
                             version="1.1"
                             xmlns="http://www.w3.org/2000/svg"
                             p-id="5813"
                             width="16"
                             height="16">
                            <path d="M835.555556 289.792l-160.312889 160.312889a307.911111 307.911111 0 0 1 57.201777 179.228444C732.444444 800.170667 593.948444 938.666667 423.111111 938.666667S113.777778 800.170667 113.777778 629.333333 252.273778 320 423.111111 320c66.816 0 128.654222 21.191111 179.228445 57.173333l160.312888-160.284444h-262.200888V113.777778H938.666667v438.215111h-103.111111v-262.200889z m-412.444445 545.763556a206.222222 206.222222 0 1 0 0-412.444445 206.222222 206.222222 0 0 0 0 412.444445z"
                                  fill="#63C7EF"
                                  opacity=".765"
                                  p-id="5814"></path>
                        </svg>
                    </i>
                    <strong> 性别: </strong>
                </span>
                <span> {{ user.sex == 1 ? '男' : (user.sex == 2 ? '女' : '未知') }} </span>
            </p>
        </nz-card>
    </div>

    <div [nzOffset]="1"
         nz-col
         [nzSpan]="8">
        <div nz-row
             nzAlign="middle"
             *ngIf="user && user.blog">
            <nz-card nz-col
                     [nzSpan]="24">
                <p>
                    <nz-statistic [nzValue]="(user.blog.totalPostsCount | number)!"
                                  [nzTitle]="'一共写了'"
                                  [nzSuffix]="'篇博文'"></nz-statistic>
                </p>
            </nz-card>

            <nz-card nz-col
                     [nzSpan]="24">
                <p>
                    <nz-statistic [nzValue]="(user.blog.totalCommentsCount | number)!"
                                  [nzTitle]="'一共收到'"
                                  [nzSuffix]="'个评论'"></nz-statistic>
                </p>
            </nz-card>

            <nz-card nz-col
                     [nzSpan]="24">
                <p>
                    <nz-statistic [nzValue]="(user.blog.totalPostedCommentsCount | number)!"
                                  [nzTitle]="'一共发表了'"
                                  [nzSuffix]="'个评论'"></nz-statistic>
                </p>
            </nz-card>
        </div>

    </div>
</div>



<ng-template #userAvatar>
    <nz-avatar [nzSrc]="user && user.avatarUrl"
               nzIcon="user"></nz-avatar>
</ng-template>