:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.post-list {
    width: 100%;
}

.post-item-wrapper {
    margin-bottom: 1.6rem;
}

.post-list-pagination {
    display: flex;
    justify-content: center;
    width: 100%;
}